version: 2.1

jobs:
  build:
    docker:
      - image: cimg/openjdk:21.0.6
    working_directory: /tmp
    steps:
      - run:
          name: build
          command: |
            pwd
            git clone https://github.com/nkz368/pomtest.git
            ls -l 
            cd pomtest
            mvn clean package
      - persist_to_workspace:
          root: pomtest
  deploy:
    docker:
      - image: nrt.ocir.io/nrineztpwjh7/test-wls:fmw_14.1.1.0.0
    working_directory: /tmp
    resource_class: yyitjjdmvmtqd9tqhtfbvt/runnnertest
    steps:
      - attach_workspace:
          at: /tmp/pomtest
      - run:
          name: weblogic deploy
          command: |
            ls -lR /tmp/pomtest
            echo "connect('weblogic', 'wls12345', 't3://10.0.10.122:7001')" >wlst.py
            /home/Oracle/products/Oracle_Home/wlserver/common/bin/wlst.sh ./wlst.py
workflows:
  build-workflow:
    jobs:
      - build
