version: 2.1
jobs:
  build:
    docker:
      - image: nrt.ocir.io/nrineztpwjh7/test-wls:fmw_14.1.1.0.0
    resource_class: yyitjjdmvmtqd9tqhtfbvt/runnnertest
    steps:
      - run:
          name: weblogic install
          command: |
            ls -l /home/Oracle/products/Oracle_Home/wlserver/common/bin/wlst.sh
            curl -v http://10.96.51.104:7001/console
            echo "connect('comuser', 'comuser123', 't3://10.96.51.104:7001')" >wlst.py
            /home/Oracle/products/Oracle_Home/wlserver/common/bin/wlst.sh ./wlst.py
workflows:
  build-workflow:
    jobs:
      - build
