version: 2.1

jobs:
  build:
    docker:
      - image: cimg/openjdk:21.0.6
    working_directory: /tmp
    steps:
      - run:
          name: build
          command: |
            ls -la
            git clone https://github.com/nkz368/pomtest.git
            cd pomtest
            mvn clean package
            mvn deploy:deploy-file \
                -X \
                -Durl=http://158.101.129.240:8081/repository/com-release/ \
                -DrepositoryId=nexus \
                -DgroupId=com.nkzcloud \
                -DartifactId=pomtest \
                -Dversion=0.0.1 \
                -Dpackaging=war \
                -Dfile=/tmp/pomtest/target/pomtest.war \
                -gs /tmp/pomtest/m2/settings.xml 
      - persist_to_workspace:
          root: pomtest
          paths:
            - target
            - wlst
  deploy:
    docker:
      - image: nrt.ocir.io/nrineztpwjh7/test-wls:fmw_14.1.1.0.0
    working_directory: /tmp
    resource_class: yyitjjdmvmtqd9tqhtfbvt/runnnertest
    steps:
      - attach_workspace:
          at: /tmp/pomtest
      - run:
          name: weblogic deploy
          command: |
            ls -lR /tmp/pomtest
            wget --user=comuser --password=comuser123 \
                http://158.101.129.240:8081/repository/com-release/com/nkzcloud/pomtest/0.0.1/pomtest-0.0.1.war \
                -O pomtest.war
            /home/Oracle/products/Oracle_Home/wlserver/common/bin/wlst.sh /tmp/pomtest/wlst/deploy.py
workflows:
  build-workflow:
    jobs:
      - build
      - deploy:
          requires:
            - build
